.vscode/**
.vscode-test/**
.github/**
out/**
node_modules/**
src/**
test/**
fixtures/**
public/**
.gitignore
.yarnrc
esbuild.js
vitest.config.mts
vsc-extension-quickstart.md
PRD.md
prd.html
web-page.html
style.css
**/tsconfig.json
**/eslint.config.mjs
**/*.map
**/*.ts
**/.vscode-test.*
*.vsix
images/**
